    .book-container {
        margin: 20px 0;
    }
    
    .page-content {
        /*background: url('../../../assets/bg.gif') 0 0 repeat #f4f4f4;*/
        margin-top: -20px;
        padding: 20px 0
    }
    
    .show-more-wrapper {
        text-align: center;
        margin-bottom: 20px
    }