<app-menu></app-menu>
<app-book-search (searchEvent)=getSearchTerm($event)></app-book-search>
<div class="page-content">
  <div class="container">
    <div class=" tile columns is-multiline  book-container">
      <div class="tile is-narrow column is-half-mobile
is-one-quater-tablet
is-2" *ngFor="let book of books$ | async">
        <div class="card">
          <div class="card-image" >
            <figure class="image is-1by1" >
              <img src="{{book.Image }}" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <p class="title is-6">{{book.Title}}</p>
            <div class="content">
                {{text_truncate(book.Description,32)}}

            </div>
          </div>
          <footer class="card-footer">
            <p class="card-footer-item">
              <span>
                <a href="#">View more</a>
              </span>
            </p>

          </footer>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="show-more-wrapper" *ngIf="(total > 1) || (bookService.page < total)" >
    <a class="button is-light" (click)="getMore()">Show More</a>
</div>
