<section class="hero home-bg" style="background-image: url('assets/book-f.jpg'); background-size:cover">
  <div class="hero-body home-search-body">
    <div class="container has-text-centered">
      <div class="columns">
        <div class="column"></div>
        <div class="column is-8">
          <h3 class="title is-4 primary-span-home">
            Rechercher des ebooks informatiques en ligne
          </h3>
          <p></p>

            <p class="control has-icon">

              <input type="text"  [formControl]="searchTerm"  placeholder="Recherche ici ..." class=" search input is-large" [readonly]="isReadOnly">
              <span class="icon">
                <i class="fa fa-search"></i>
              </span>

            </p>

          <p></p>
        </div>
        <div class="column"></div>
      </div>
    </div>
  </div>
</section>

