.hero {
    -webkit-box-align: stretch;
    align-items: stretch;
    display: -webkit-box;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

@media screen and (min-width: 769px),
print {
    .hero.is-medium .hero-body {
        padding-bottom: 9rem;
        padding-top: 9rem;
    }
}

.hero-body {
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-shrink: 0;
    margin-top: 89px
}

.hero-body,
.section {
    padding: 3rem 1.5rem;
}

.home-bg {
    height: 340px
}

.control input,
{
    border-radius: 5px;
}

.search {
    border-radius: 8px !important
}