<nav id="navbar" class="navbar is-fixed-top " style="
        transform: translateY(-4px);
      ">
  <div id="specialShadow" class="bd-special-shadow" style="opacity: 1; transform: scaleY(0.923077);"></div>

  <div class="container">

  <div class="navbar-brand">
    <a class="navbar-item" href="#">
It-Ebook
    </a>

    <a class="navbar-item is-hidden-desktop" href="https://github.com/jgthms/bulma" target="_blank">
      <span class="icon" style="color: #333;">
        <i class="fa fa-lg fa-github"></i>
      </span>
    </a>

    <a class="navbar-item is-hidden-desktop" href="https://twitter.com/jgthms" target="_blank">
      <span class="icon" style="color: #55acee;">
        <i class="fa fa-lg fa-twitter"></i>
      </span>
    </a>

    <div id="navbarBurger" class="navbar-burger burger" data-target="navMenuExpoHero">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenuExpoHero" class="navbar-menu">
    <div class="navbar-start"></div>
    <div class="navbar-end"></div>
  </div>

  </div>
</nav>
